<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{{ series.title }} - تحميل - إِيجي فيلم</title>
    {% include 'header.html' %}

    <div class="Content--Wrapper">
      <div class="DownloadArea">
        <div class="WatchBar">
          <a class="back" href="/">
            <i class="fas fa-arrow-right-long"></i> عودة للرئيسية
          </a>
        </div>
        <div class="DownloadBox">
          <h2 class="download-title">ملفات روابط التحميل</h2>
          
          <div class="DownloadBlock">
            <ul class="download-items">
              {% for link in series.download_links %}
              <li>
                <a target="_NEW" rel="nofollow" href="{{ link.url }}" class="downloadsLink green">
                  <i class="fas fa-download"></i>
                  <div class="text">
                    <span>{{ link.server }}</span>
                    <p>{{ link.quality }}</p>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
