<style type="text/css">
    @font-face {
      font-family: "MainFont";
      font-weight: bold;
      src: url(/static/fonts/Bahij_TheSansArabic-Black.ttf);
    }
    @font-face {
      font-family: "MainFont";
      font-weight: 400;
      src: url("/static/fonts/Bahij_TheSansArabic-Bold.ttf");
    }
  </style>
  <script type="text/javascript">
    (function () {
      var css = document.createElement("link");
      css.href =
        "https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css";
      css.rel = "stylesheet";
      css.type = "text/css";
      document.getElementsByTagName("head")[0].appendChild(css);
      var css = document.createElement("link");
      css.href =
        "https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap";
      css.rel = "stylesheet";
      css.type = "text/css";
      document.getElementsByTagName("head")[0].appendChild(css);
    })();
  </script>
  <link href="/assets/css/all.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Righteous&amp;display=swap"
    rel="stylesheet"
    type="text/css"
  />

  <meta
    name="description"
    content="موقع إِيجي فيلم لمشاهدة الافلام والمسلسلات الاجنبي والاسيوي والانمي , مشاهدة احدث الافلام الاجنبي , افلام اون لاين , مسلسلات اونلاين , تحميل مسلسلات وافلام"
  />
  <meta name="robots" content="follow, index" />
  <link rel="next" href="#" />
  <meta property="og:locale" content="ar_AR" />
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="إِيجي فيلم - مشاهدة افلام ومسلسلات اون لاين"
  />
  <meta
    property="og:description"
    content="موقع إِيجي فيلم لمشاهدة الافلام والمسلسلات الاجنبي والاسيوي والانمي , مشاهدة احدث الافلام الاجنبي , افلام اون لاين , مسلسلات اونلاين , تحميل مسلسلات وافلام"
  />
  <meta property="og:site_name" content="إِيجي فيلم" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:title"
    content="إِيجي فيلم - مشاهدة افلام ومسلسلات اون لاين"
  />
  <meta
    name="twitter:description"
    content="موقع إِيجي فيلم لمشاهدة الافلام والمسلسلات الاجنبي والاسيوي والانمي , مشاهدة احدث الافلام الاجنبي , افلام اون لاين , مسلسلات اونلاين , تحميل مسلسلات وافلام"
  />
  
  <link rel="icon" href="/static/images/favicon.ico" sizes="32x32" />
  <link rel="icon" href="/static/images/favicon.ico" sizes="192x192" />
  <link rel="apple-touch-icon" href="/static/images/favicon.ico" />
  <meta
    name="msapplication-TileImage"
    content="#"
  />
  <link rel="canonical" href="/" />
  <meta charset="UTF-8" />
  <meta name="googlebot" content="archive" />
  <meta name="robots" content="index, follow" />
  <meta name="rating" content="General" />
  <meta http-equiv="Content-Language" content="ar-eg" />
  <meta name="revisit-after" content="1 hour" />
  <meta name="distribution" content="Global" />
  <meta name="resource-type" content="document" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta property="og:type" content="website" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#ed3c3c" />
  <meta name="msapplication-navbutton-color" content="#ed3c3c" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#ed3c3c" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body style="padding-top: 100px" data-nonce="e865e3bf41">
<div style="display: none">
      <!-- ads -->

  
</div>
<script src="/static/js/tag.min.js"></script>
<!-- tag.min.js -->
<div
  class="homepage__bg"
  style="background-image: url('/static/images/back.jpg')"
></div>
<div class="mobile--menu">
  <div class="MainMenuOverlay"></div>
  <!-- <ul id="main-menu">
    <li class="Added--Recently">
        <a href="/recent/recent.html">المضاف حديثا </a>
    </li>
    <li
      id="menu-item-73"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-73"
    >
      <a href="/category/افلام-اجنبي/افلام-اجنبي.html">الافلام</a>
      <ul class="sub-menu">
        <li
          id="menu-item-74"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-74"
        >
          <a
            href="/category/افلام-اجنبي/افلام-اجنبي.html"
            >افلام اجنبي</a
          >
        </li>
        <li
          id="menu-item-76"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76"
        >
          <a
            href="/category/افلام-عربي/افلام-عربي.html"
            >افلام عربي</a
          >
        </li>
        <li
          id="menu-item-75"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
        >
        <a
            href="/category/افلام-انمي/افلام-انمي.html"
            >افلام انمي</a
          >
        </li>
        <li
          id="menu-item-75"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
        >
          <a
            href="/category/افلام-تركيه/افلام-تركيه.html"
            >افلام تركيه</a
          >
        </li>
        <li
          id="menu-item-110"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"
        >
          <a href="/category/افلام-نيتفلكس/افلام-نيتفلكس.html"
            >افلام نتفليكس</a
          >
        </li>
        <li
          id="menu-item-109"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"
        >
          <a href="/category/سلاسل-الافلام/سلاسل-الافلام.html"
            >سلاسل الافلام</a
          >
        </li>
        
      </ul>
    </li>
    <li
    
      id="menu-item-112"
      class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-112"
    >
      <a
        href="/category/مسلسلات-اجنبي/مسلسلات-اجنبي.html"
        >المسلسلات</a
      >
      <ul class="sub-menu">
        <li
          id="menu-item-113"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"
        >
          <a href="/category/مسلسلات-اجنبي/احدث-الحلقات.html">احدث الحلقات</a>
        </li>
        <li
          id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-اجنبي/مسلسلات-اجنبي.html"
            >مسلسلات اجنبي</a
          >
        </li>

        <li
          id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-عربي/مسلسلات-عربي.html"
            >مسلسلات عربي</a
          >
        </li>
        <li
        id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-رمضان/مسلسلات-رمضان.html"
            >مسلسلات رمضان</a
          >
        </li>
        <li
        id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-تركيه/مسلسلات-تركيه.html"
            >مسلسلات تركيه</a
          >
        </li>
        
        <li
          id="menu-item-116"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"
        >
          <a href="/category/اجنبي-نيتفلكس/اجنبي-نيتفلكس.html">اجنبي نتفليكس</a>
        </li>
        
        
      </ul>
    </li>
    <li
      id="menu-item-152"
      class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-152"
    >
      <a
        href="/category/مسلسلات-اسيويه/مسلسلات-اسيويه.html"
        >القسم الاسيوي</a
      >
      <ul class="sub-menu">
        <li
          id="menu-item-154"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"
        >
          <a
            href="/category/احدث-حلقات/مسلسلات-اسيويه.html"
            >احدث الحلقات</a
          >
        </li>
        <li
          id="menu-item-153"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
        >
          <a
            href="/category/مسلسلات-اسيويه/مسلسلات-اسيويه.html"
            >قائمة المسلسلات</a
          >
        </li>
        <li
          id="menu-item-153"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
        >
          <a
            href="/category/اسيوي-نيتفلكس/اسيوي-نيتفلكس.html"
            >اسيوي نيتفلكس</a
          >
        </li>
        
        
       
      </ul>
    </li>
    <li
      id="menu-item-157"
      class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-157"
    >
      <a
        href="/category/مسلسلات-انمي/مسلسلات-انمي.html"
        >الانمي</a
      >
      <ul class="sub-menu">
        <li
          id="menu-item-159"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"
        >
          <a
            href="/category/احدث-حلقات/مسلسلات-انمي.html"
            >احدث الحلقات</a
          >
        </li>
        <li
          id="menu-item-158"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-158"
        >
          <a
            href="/category/مسلسلات-انمي/مسلسلات-انمي.html"
            >قائمة الانميات</a
          >
        </li>
        <li
          id="menu-item-161"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"
        >
          <a href="/category/انمي-نيتفلكس/انمي-نيتفلكس.html">انمي نتفلكس</a>
        </li>
        
      </ul>
    </li>
    <li class="full-packs">
      <a href="/category/مسلسلات-كامله-برابط-واحد/مسلسلات-كامله-برابط-واحد.html"
        ><i class="far fa-folder-download"></i> تحميل مسلسلات كاملة
        برابط واحد</a
      >
    </li>
      </ul>
    </li>
  </ul> -->
</div>
<header class="Main--Header">
  <div class="Content--Wrapper">
    <div class="mobile--bars"><i class="fal fa-bars"></i></div>
    <div class="mobile--search"><i class="fal fa-search"></i></div>
    <a class="Logo--Area" href="/">
      <h1>
        Egy<span>Film</span>
        <em>إِيجي فيلم</em>
      </h1>
    </a>
    <nav class="Menu--Contents">
      <!-- <ul id="main-menu">
        <li class="Added--Recently">
          <a href="/recent/recent.html">المضاف حديثا </a>
        </li>
        
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-73"
        >
        <a href="/category/افلام-اجنبي/افلام-اجنبي.html">الافلام</a>
        <ul class="sub-menu">
          <li
            id="menu-item-74"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-74"
          >
            <a
              href="/category/افلام-اجنبي/افلام-اجنبي.html"
              >افلام اجنبي</a
            >
          </li>
          <li
            id="menu-item-76"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76"
          >
            <a
              href="/category/افلام-عربي/افلام-عربي.html"
              >افلام عربي</a
            >
          </li>
          <li
            id="menu-item-75"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
          >
          <a
              href="/category/افلام-انمي/افلام-انمي.html"
              >افلام انمي</a
            >
          </li>
          <li
            id="menu-item-75"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
          >
            <a
              href="/category/افلام-تركيه/افلام-تركيه.html"
              >افلام تركيه</a
            >
          </li>
          <li
            id="menu-item-110"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"
          >
            <a href="/category/افلام-نيتفلكس/افلام-نيتفلكس.html"
              >افلام نتفليكس</a
            >
          </li>
          <li
            id="menu-item-109"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"
          >
            <a href="/category/سلاسل-الافلام/سلاسل-الافلام.html"
              >سلاسل الافلام</a
            >
          </li>
          
        </ul>
      </li>
  
  
      <li
        id="menu-item-112"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-112"
      >
        <a
          href="/category/مسلسلات-اجنبي/مسلسلات-اجنبي.html"
          >المسلسلات</a
        >
        <ul class="sub-menu">
          <li
            id="menu-item-113"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"
          >
            <a href="/category/مسلسلات-اجنبي/احدث-الحلقات.html">احدث الحلقات</a>
          </li>
          <li
            id="menu-item-114"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
          >
            <a
              href="/category/مسلسلات-اجنبي/مسلسلات-اجنبي.html"
              >مسلسلات اجنبي</a
            >
          </li>

          <li
          id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-عربي/مسلسلات-عربي.html"
            >مسلسلات عربي</a
          >
        </li>
        <li
        id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-رمضان/مسلسلات-رمضان.html"
            >مسلسلات رمضان</a
          >
        </li>
        <li
        id="menu-item-114"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
        >
          <a
            href="/category/مسلسلات-تركيه/مسلسلات-تركيه.html"
            >مسلسلات تركيه</a
          >
        </li>
        
        
        

    

    

    
          <li
            id="menu-item-116"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"
          >
            <a href="/category/اجنبي-نيتفلكس/اجنبي-نيتفلكس.html">اجنبي نتفليكس</a>
          </li>
          
          
        </ul>
      </li>
      <li
        id="menu-item-152"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-152"
      >
        <a
          href="/category/مسلسلات-اسيويه/مسلسلات-اسيويه.html"
          >القسم الاسيوي</a
        >
        <ul class="sub-menu">
          <li
          id="menu-item-154"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"
        >
          <a
            href="/category/احدث-حلقات/مسلسلات-اسيويه.html"
            >احدث الحلقات</a
          >
        </li>
        <li
          id="menu-item-153"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
        >
          <a
            href="/category/مسلسلات-اسيويه/مسلسلات-اسيويه.html"
            >قائمة المسلسلات</a
          >
        </li>
        <li
          id="menu-item-153"
          class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
        >
          <a
            href="/category/اسيوي-نيتفلكس/اسيوي-نيتفلكس.html"
            >اسيوي نيتفلكس</a
          >
        </li>
        
         
        </ul>
      </li>
  
      <li
        id="menu-item-157"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-157"
      >
        <a
          href="/category/مسلسلات-انمي/مسلسلات-انمي.html"
          >الانمي</a
        >
        <ul class="sub-menu">
          <li
            id="menu-item-159"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"
          >
            <a
              href="/category/احدث-حلقات/مسلسلات-انمي.html"
              >احدث الحلقات</a
            >
          </li>
          <li
            id="menu-item-158"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-158"
          >
            <a
              href="/category/مسلسلات-انمي/مسلسلات-انمي.html"
              >قائمة الانميات</a
            >
          </li>
          <li
            id="menu-item-161"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"
          >
            <a href="/category/انمي-نيتفلكس/انمي-نيتفلكس.html">انمي نتفلكس</a>
          </li>
          
          </ul>
        </li>
        <li class="full-packs">
          <a href="/category/مسلسلات-كامله-برابط-واحد/مسلسلات-كامله-برابط-واحد.html"
            ><i class="far fa-folder-download"></i> تحميل مسلسلات كاملة
            برابط واحد</a
          >
        </li>
      </ul> -->
    </nav>
    <div class="Header--Search"><i class="fal fa-search"></i></div>
    <div class="Header--Social">
      <a rel="nofollow" target="_NEW" href="" class="facebook"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a rel="nofollow" target="_NEW" href="" class="twitter"
        ><i class="fab fa-twitter"></i
      ></a>
      <a rel="nofollow" target="_NEW" href="" class="pinterest"
        ><i class="fab fa-telegram-plane"></i
      ></a>
    </div>
  </div>
</header>
<div class="popSearch">
  <div class="Content--Wrapper">
    <div class="SearchPopForm">
      <!-- <form class="Header--Search-Form" action="/">
        <a href="/search/search.html">للبحث في موقعنا اضغط هنا</a>

        
        
      </form> -->
      <button type="button" id="search--close">
        <i class="fal fa-times"></i> إغلاق
      </button>
    </div>
    <div class="SearchResults"></div>
  </div>
  
</div>
